# Deliverable 3. Create a Travel Itinerary Map.
----
1. Import the vacation CSV file. 
2. From the map above with pick 4 cities that are in close proximity (on the same continent) that the customer would travel to and create a directions layer map.
3. For the "travel_mode" use either "DRIVING", "BICYCLING", or "WALKING".
4. Take a screenshot of the route and save it. 
5. Then create a marker layer for the four cities. Each city will should have a pop-up marker that contains
    - The hotel name
    - The city
    - The country
    - The current weather description and the maximum temperature
---

## Make sure the initial dependencies and the Google API key are imported.

In [66]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import Google API key
from config import g_key

In [27]:
# Configure gmaps
gmaps.configure(api_key=g_key)

## From your `Vacation_Search` folder from Deliverable 2, import the `WeatherPy_vacation.csv` file as a DataFrame named `vacation_df`

In [68]:
# Read the WeatherPy_vacation.csv into a DataFrame
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")

# Display sample data
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,0,Kontagora,NG,72.77,few clouds,10.3999,5.4695,Queens Guest Inn
1,1,Qaanaaq,GL,-0.83,clear sky,77.4840,-69.3632,Qaanaaq Hotel
2,2,Salamiyah,SY,64.63,broken clouds,35.0113,37.0532,Gondolas Forum grandchildren and grandparents
3,3,Biltine,TD,82.72,clear sky,14.5333,20.9167,Hôtel Trois Étoiles de Biltine
4,4,Butembo,CD,57.18,overcast clouds,0.1500,29.2833,Hotel Butembo
5,5,Zuwarah,LY,72.54,clear sky,32.9312,12.0820,تيدارت انغ
6,6,Jamestown,US,38.71,moderate rain,42.0970,-79.2353,Hampton Inn & Suites Jamestown
7,7,Georgetown,MY,78.24,light rain,5.4112,100.3354,Cititel Penang
8,8,Arraial Do Cabo,BR,72.30,overcast clouds,-22.9661,-42.0278,Pousada Porto Praia
9,9,Lebu,CL,52.32,scattered clouds,-37.6167,-73.6500,Hostal Las Lilas

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [29]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## In this step, you will set-up the pop-up markers. Review the code to create a marker layer map of the vacation search results. This code is the same as in Deliverable 2.

In [30]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [31]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

## From the vacation search map, *choose four cities* that a customer might want to visit. They should be close together and in the same country.

In [34]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.
vacation_start = vacation_df.loc[vacation_df["City"] == "Salinas"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Salinas"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "San Francisco"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "San Ramon"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Laguna"]

## Use the `to_numpy()` function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.

In [53]:
# Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7].to_numpy()
end =  vacation_end.iloc[0,5:7].to_numpy()
stop1 =  vacation_stop1.iloc[0,5:7].to_numpy()
stop2 =  vacation_stop2.iloc[0,5:7].to_numpy()
stop3 =  vacation_stop3.iloc[0,5:7].to_numpy()

## Use the [gmaps documentation](https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#directions-layer) to create a directions layer map using the variables from the previous step. Where the starting and ending city are the same city, the `waypoints` are the three other cities, and the `travel_mode` is either `"DRIVING"`, `"BICYCLING"`, or `"WALKING"`.

In [57]:
# Define a new figure object
fig = gmaps.figure()

# Create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints.
# The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

vacation_itinerary = gmaps.directions_layer(start, end, waypoints = [stop1, stop2, stop3], travel_mode="DRIVING")

# Add the layer to the map

fig.add_layer(vacation_itinerary)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))

## Use the provided `concat()` function code snippet to combine the four separate city DataFrames into one DataFrame.

In [58]:
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(
    [
        vacation_start,
        vacation_stop1,
        vacation_stop2,
        vacation_stop3
    ],
    ignore_index = True
)

# Display sample data
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,632,Salinas,US,98.01,smoke,36.6777,-121.6555,Laurel Inn & Conference Center
1,503,San Francisco,US,96.62,scattered clouds,37.7749,-122.4194,Edwardian Hotel
2,564,San Ramon,US,93.47,clear sky,37.7799,-121.9780,San Ramon Marriott
3,657,Laguna,US,93.15,clear sky,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...

## Refactor the code from Step 6 to create a new marker layer map of the cities on the travel route.

In [59]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [67]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Define a new figure object
fig = gmaps.figure()

# Add the layer to the map
fig.add_layer(marker_layer)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))